<<<<<<< HEAD
:root {
  --Primary-collor: #0884e392;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--Primary-collor);
  font-size: 1.3em;
  line-height: 1em;
}

.container {
  font-family: sans-serif;
  background: white;
  max-width: 640px;
  border: 2px solid crimson;
  padding: 20px;
  margin: 20px auto;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
=======
:root {
  --Primary-collor: #0884e392;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--Primary-collor);
  font-size: 1.3em;
  line-height: 1em;
}

.container {
  font-family: sans-serif;
  background: white;
  max-width: 640px;
  border: 2px solid crimson;
  padding: 20px;
  margin: 20px auto;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
>>>>>>> e85c6f6b32861801c033f3b5c6f8a28ceeb8f90d
